body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 40px;
}

/* Sections */
section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

/* Headings */
h2 {
    color: #2c3e50;
}

/* Skills list */
ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #3498db;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #2c3e50;
    color: white;
}
nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: #f1c40f;
}
.profile-img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}
li:hover {
    background-color: #1abc9c;
    cursor: pointer;
}
.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact input,
.contact textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact textarea {
    resize: none;
    height: 100px;
}

.contact button {
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.contact button:hover {
    background-color: #2980b9;
    cursor: pointer;
}
.skills-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skill {
    background-color: #3498db;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
@media (max-width: 600px) {
    header {
        padding: 20px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    section {
        margin: 10px;
    }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #222;
}

.navbar h1 {
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #00adb5;
}
.about {
  padding: 60px;
  text-align: center;
  background: #ffffff;
}

.about h2 {
  margin-bottom: 15px;
}

.about p {
  max-width: 600px;
  margin: auto;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .skills-box {
    flex-direction: column;
  }
}
.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}